In [16]:
import pandas as pd
import numpy as np
import io

In [23]:
with open(r'C:\Users\HP\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv', 'r', encoding='utf-8', errors='replace') as file:
    content = file.read()

In [41]:
categorical_col=[]
for column in df.columns:
    if df[column].dtype==object and len(df[column].unique())<=58:
        categorical_col.append(column)
        print(str(column) + str (df[ column].unique()) )
        print("======================================")

Area['Algeria' 'Angola' 'Benin' 'Botswana' 'Burkina Faso' 'Cabo Verde'
 'Cameroon' 'Central African Republic' 'Chad' 'Comoros' 'Congo'
 "C�te d'Ivoire" 'Djibouti' 'Egypt' 'Eswatini' 'Ethiopia' 'Ethiopia PDR'
 'Gabon' 'Gambia' 'Ghana' 'Guinea' 'Guinea-Bissau' 'Kenya' 'Lesotho'
 'Liberia' 'Madagascar' 'Malawi' 'Mali' 'Mauritania' 'Mauritius' 'Morocco'
 'Mozambique' 'Namibia' 'Niger' 'Nigeria' 'Rwanda' 'Sao Tome and Principe'
 'Senegal' 'Seychelles' 'Sierra Leone' 'South Africa' 'Sudan'
 'Sudan (former)' 'Togo' 'Tunisia' 'Uganda' 'United Republic of Tanzania'
 'Zambia' 'Zimbabwe']
======================================
Element['Total Population - Both sexes' 'Domestic supply quantity'
 'Food supply (kcal/capita/day)' 'Protein supply quantity (g/capita/day)'
 'Fat supply quantity (g/capita/day)' 'Production' 'Import Quantity'
 'Stock Variation' 'Export Quantity' 'Feed' 'Seed' 'Losses' 'Processing'
 'Other uses (non-food)' 'Residuals' 'Food'
 'Food supply quantity (kg/capita/yr)' 'Tourist consumption']
======================================
Unit['1000 persons' '1000 tonnes' 'kcal/capita/day' 'g/capita/day' 'kg']
======================================

In [26]:
df = pd.read_csv(io.StringIO(content))
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [28]:
df.columns.tolist()

['Area Code',
 'Area',
 'Item Code',
 'Item',
 'Element Code',
 'Element',
 'Unit',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018']

question  . Which of these python data structures is unorderly?
Dic and set

In [27]:
# 1.
my = (1,2,5,8)
my[2]=6

value error

TypeError: 'tuple' object does not support item assignment

 question Which of the following is a python inbuilt module?
Math

In [ ]:
#Question 2

In [34]:
subset = df[['Element', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
element_group = subset.groupby('Element').sum()
max_year = element_group.idxmax(axis=1)
print(max_year)

Element
Domestic supply quantity                  Y2018
Export Quantity                           Y2017
Fat supply quantity (g/capita/day)        Y2018
Feed                                      Y2018
Food                                      Y2018
Food supply (kcal/capita/day)             Y2018
Food supply quantity (kg/capita/yr)       Y2014
Import Quantity                           Y2017
Losses                                    Y2018
Other uses (non-food)                     Y2017
Processing                                Y2018
Production                                Y2018
Protein supply quantity (g/capita/day)    Y2017
Residuals                                 Y2016
Seed                                      Y2018
Stock Variation                           Y2014
Total Population - Both sexes             Y2018
Tourist consumption                       Y2014
dtype: object

In [37]:
subset = df[df['Element'] == 'Stock Variation'][['Element', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018']]
element_group = subset.groupby('Element').sum()
# max_year = element_group.idxmax(axis=1)
# print(max_year)
element_group

                    Y2014     Y2015     Y2016     Y2017     Y2018
Element
Stock Variation  58749.83  34910.99  33140.12  54316.91  20577.91

What is the mean and standard deviation across the whole dataset for the year 2017 to 2 decimal places?

In [39]:
#3
df['Y2017'].describe()

count     59437.000000
mean        140.917765
std        1671.862359
min       -1582.000000
25%           0.000000
50%           0.100000
75%           9.000000
max      190873.000000
Name: Y2017, dtype: float64

In [40]:
mean_and_std = df['Y2017'].describe()[['mean', 'std']].round(2)
print(mean_and_std)

mean     140.92
std     1671.86
Name: Y2017, dtype: float64

In [ ]:
#4

In [46]:
Q4= df[["Area", "Element", "Y2015"]]

In [144]:
Q4 = df[(df['Area'] == 'Madagascar') & (df['Element'] == 'Protein supply quantity (g/capita/day)')]

total_Q4 = filtered_df['Y2015'].sum()

total_Q4

173.04999999999998

In [47]:
Q4[Q4.Area == 'Madagascar']

             Area                                 Element     Y2015
30715  Madagascar           Total Population - Both sexes  24234.00
30716  Madagascar                Domestic supply quantity      0.00
30717  Madagascar           Food supply (kcal/capita/day)   1922.00
30718  Madagascar  Protein supply quantity (g/capita/day)     43.26
30719  Madagascar      Fat supply quantity (g/capita/day)     22.97
...           ...                                     ...       ...
32149  Madagascar                                    Food     11.00
32150  Madagascar     Food supply quantity (kg/capita/yr)      0.44
32151  Madagascar           Food supply (kcal/capita/day)      0.00
32152  Madagascar  Protein supply quantity (g/capita/day)      0.01
32153  Madagascar      Fat supply quantity (g/capita/day)      0.01

[1439 rows x 3 columns]

In [142]:
Q4[Q4.Area == 'Madagascar'].groupby(Q4.Element=='Protein supply quantity').sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_2172\3963276662.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  Q4[Q4.Area == 'Madagascar'].groupby(Q4.Element=='Protein supply quantity').sum()

            Y2015
Element
False    126674.9

In [51]:
Q5 = array[:2:1]

In [63]:
Q6 =df.iloc[:]

In [64]:
Q7 = x=[1][1]

In [ ]:
Q8 =3f 100obs

In [65]:
Q9 =a

NameError: name 'a' is not defined

In [ ]:
Q10=math

In [67]:
Q11= df[['Element', 'Y2017']]

In [71]:
Q11[Q11.Element == 'Processing'].sum()

Element    ProcessingProcessingProcessingProcessingProces...
Y2017                                               292836.0
dtype: object

In [ ]:
Q12=Tuple

In [72]:
Q13 =[['him','sell'],[90,28,43]]

In [73]:
Q13[0][1][1]

'e'

In [74]:
Q14 =df[["Element", "Y2015", "Y2018"]]

In [97]:
Q14[Q14.Element == 'Tourist consumption'] .sum()

Element    Tourist consumptionTourist consumptionTourist ...
Y2015                                                  349.0
Y2018                                                   90.0
dtype: object

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60943 entries, 0 to 60942
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Area Code     60943 non-null  int64
 1   Area          60943 non-null  object
 2   Item Code     60943 non-null  int64
 3   Item          60943 non-null  object
 4   Element Code  60943 non-null  int64
 5   Element       60943 non-null  object
 6   Unit          60943 non-null  object
 7   Y2014         59354 non-null  float64
 8   Y2015         59395 non-null  float64
 9   Y2016         59408 non-null  float64
 10  Y2017         59437 non-null  float64
 11  Y2018         59507 non-null  float64
dtypes: float64(5), int64(3), object(4)
memory usage: 5.6+ MB

In [100]:
df.isnull().sum()

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [ ]:
Q1589

In [145]:
Q16 = df[["Area", "Y2017"]]

Select columns ‘Y2017’ and ‘Area’, Perform a groupby operation on ‘Area’.  Which of these Areas had the 7th lowest sum in 2017?

In [107]:
Q16.groupby('Area')['Y2017'].sum().sort_values(ascending =True).head(7)

Area
Sudan (former)               0.00
Ethiopia PDR                 0.00
Comoros                     59.84
Seychelles                 442.34
Sao Tome and Principe    12662.63
Cabo Verde               14650.74
Guinea-Bissau            19102.77
Name: Y2017, dtype: float64

In [116]:
Q17= df[["Element Code",'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018' ]]

In [119]:
correlation = Q17.corr()

In [122]:
correlation['Element Code']

Element Code    1.000000
Y2014           0.024457
Y2015           0.023889
Y2016           0.023444
Y2017           0.024254
Y2018           0.024279
Name: Element Code, dtype: float64

In [124]:
correlation['Element Code'].idxmin()

'Y2016'

In [126]:
Q18 = df[["Area", "Y2017"]]

In [128]:
Q18.groupby('Area')['Y2017'].sum().sort_values(ascending = False).head()

Area
Nigeria         1483268.23
Egypt            866379.92
South Africa     517590.54
Ethiopia         448683.76
Morocco          388495.36
Name: Y2017, dtype: float64

df.shape()

In [130]:
df.shape

(60943, 12)

In [140]:
Q20 = df["Area"].value_counts()
Q20

Kenya                          1560
Egypt                          1488
Nigeria                        1474
C�te d'Ivoire                  1467
Senegal                        1462
Cameroon                       1460
Uganda                         1458
Zambia                         1451
Malawi                         1447
Ethiopia                       1447
Madagascar                     1439
Mozambique                     1427
Rwanda                         1426
Angola                         1424
United Republic of Tanzania    1419
Congo                          1413
Guinea                         1410
Burkina Faso                   1409
Niger                          1403
South Africa                   1399
Zimbabwe                       1393
Morocco                        1393
Mauritius                      1378
Botswana                       1378
Ghana                          1354
Central African Republic       1344
Chad                           1343
Tunisia                        1338
Sudan                          1316
Algeria                        1313
Togo                           1294
Mali                           1293
Benin                          1285
Eswatini                       1284
Namibia                        1283
Cabo Verde                     1260
Gabon                          1245
Sierra Leone                   1242
Liberia                        1206
Mauritania                     1195
Sao Tome and Principe          1177
Gambia                         1168
Lesotho                        1150
Guinea-Bissau                  1128
Djibouti                       1095
Seychelles                       68
Sudan (former)                   53
Comoros                          45
Ethiopia PDR                     39
Name: Area, dtype: int64

In [ ]:
49